USE [IMIS]
GO
/****** Object:  UserDefinedTableType [dbo].[xProduct]    Script Date: 7/24/2018 6:49:10 AM ******/
CREATE TYPE [dbo].[xProduct] AS TABLE(
	[ProdID] [int] NOT NULL,
	[ProductCode] [nvarchar](8) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[LocationId] [int] NULL,
	[InsurancePeriod] [tinyint] NOT NULL,
	[DateFrom] [smalldatetime] NOT NULL,
	[DateTo] [smalldatetime] NOT NULL,
	[ConversionProdID] [int] NULL,
	[LumpSum] [decimal](18, 2) NOT NULL,
	[MemberCount] [smallint] NOT NULL,
	[PremiumAdult] [decimal](18, 2) NULL,
	[PremiumChild] [decimal](18, 2) NULL,
	[DedInsuree] [decimal](18, 2) NULL,
	[DedOPInsuree] [decimal](18, 2) NULL,
	[DedIPInsuree] [decimal](18, 2) NULL,
	[MaxInsuree] [decimal](18, 2) NULL,
	[MaxOPInsuree] [decimal](18, 2) NULL,
	[MaxIPInsuree] [decimal](18, 2) NULL,
	[PeriodRelPrices] [char](1) NULL,
	[PeriodRelPricesOP] [char](1) NULL,
	[PeriodRelPricesIP] [char](1) NULL,
	[AccCodePremiums] [nvarchar](25) NULL,
	[AccCodeRemuneration] [nvarchar](25) NULL,
	[DedTreatment] [decimal](18, 2) NULL,
	[DedOPTreatment] [decimal](18, 2) NULL,
	[DedIPTreatment] [decimal](18, 2) NULL,
	[MaxTreatment] [decimal](18, 2) NULL,
	[MaxOPTreatment] [decimal](18, 2) NULL,
	[MaxIPTreatment] [decimal](18, 2) NULL,
	[DedPolicy] [decimal](18, 2) NULL,
	[DedOPPolicy] [decimal](18, 2) NULL,
	[DedIPPolicy] [decimal](18, 2) NULL,
	[MaxPolicy] [decimal](18, 2) NULL,
	[MaxOPPolicy] [decimal](18, 2) NULL,
	[MaxIPPolicy] [decimal](18, 2) NULL,
	[GracePeriod] [int] NOT NULL,
	[ValidityFrom] [datetime] NOT NULL,
	[ValidityTo] [datetime] NULL,
	[LegacyID] [int] NULL,
	[AuditUserID] [int] NOT NULL,
	[RegistrationLumpSum] [decimal](18, 2) NULL,
	[RegistrationFee] [decimal](18, 2) NULL,
	[GeneralAssemblyLumpSum] [decimal](18, 2) NULL,
	[GeneralAssemblyFee] [decimal](18, 2) NULL,
	[StartCycle1] [nvarchar](5) NULL,
	[StartCycle2] [nvarchar](5) NULL,
	[MaxNoConsultation] [int] NULL,
	[MaxNoSurgery] [int] NULL,
	[MaxNoDelivery] [int] NULL,
	[MaxNoHospitalizaion] [int] NULL,
	[MaxNoVisits] [int] NULL,
	[MaxAmountConsultation] [decimal](18, 2) NULL,
	[MaxAmountSurgery] [decimal](18, 2) NULL,
	[MaxAmountDelivery] [decimal](18, 2) NULL,
	[MaxAmountHospitalization] [decimal](18, 2) NULL,
	[GracePeriodRenewal] [int] NULL,
	[MaxInstallments] [int] NULL,
	[WaitingPeriod] [int] NULL,
	[RenewalDiscountPerc] [int] NULL,
	[RenewalDiscountPeriod] [int] NULL,
	[StartCycle3] [nvarchar](5) NULL,
	[StartCycle4] [nvarchar](5) NULL,
	[AdministrationPeriod] [int] NULL,
	[Threshold] [int] NULL,
	[MaxPolicyExtraMember] [decimal](18, 2) NULL,
	[MaxPolicyExtraMemberIP] [decimal](18, 2) NULL,
	[MaxPolicyExtraMemberOP] [decimal](18, 2) NULL,
	[MaxCeilingPolicy] [decimal](18, 2) NULL,
	[MaxCeilingPolicyIP] [decimal](18, 2) NULL,
	[MaxCeilingPolicyOP] [decimal](18, 2) NULL,
	[EnrolmentDiscountPerc] [int] NULL,
	[EnrolmentDiscountPeriod] [int] NULL,
	[MaxAmountAntenatal] [decimal](18, 2) NULL,
	[MaxNoAntenatal] [int] NULL,
	[CeilingInterpretation] [char](1) NULL,
	[Level1] [char](1) NULL,
	[Sublevel1] [char](1) NULL,
	[Level2] [char](1) NULL,
	[Sublevel2] [char](1) NULL,
	[Level3] [char](1) NULL,
	[Sublevel3] [char](1) NULL,
	[Level4] [char](1) NULL,
	[Sublevel4] [char](1) NULL,
	[ShareContribution] [decimal](5, 2) NULL DEFAULT ((100.00)),
	[WeightPopulation] [decimal](5, 2) NULL DEFAULT ((0.00)),
	[WeightNumberFamilies] [decimal](5, 2) NULL DEFAULT ((0.00)),
	[WeightInsuredPopulation] [decimal](5, 2) NULL DEFAULT ((100.00)),
	[WeightNumberInsuredFamilies] [decimal](5, 2) NULL DEFAULT ((0.00)),
	[WeightNumberVisits] [decimal](5, 2) NULL DEFAULT ((0.00)),
	[WeightAdjustedAmount] [decimal](5, 2) NULL DEFAULT ((0.00))
)
GO
