USE [IMIS]
GO
/****** Object:  UserDefinedTableType [dbo].[xClaimSelection]    Script Date: 7/24/2018 6:49:09 AM ******/
CREATE TYPE [dbo].[xClaimSelection] AS TABLE(
	[ClaimID] [int] NOT NULL
)
GO
