USE [IMIS]
GO
/****** Object:  Table [dbo].[tblIMISDetaulsPhone]    Script Date: 7/24/2018 6:46:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblIMISDetaulsPhone](
	[RuleName] [nvarchar](100) NULL,
	[RuleValue] [bit] NULL
) ON [PRIMARY]
GO
