/****** Object:  Table [dbo].[tblIMISDetaulsPhone]    Script Date: 19.09.2018 15:16:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblIMISDetaulsPhone](
	[RuleName] [nvarchar](100) NULL,
	[RuleValue] [bit] NULL
) ON [PRIMARY]
GO
