/****** Object:  UserDefinedTableType [dbo].[xAttribute]    Script Date: 19.09.2018 15:16:40 ******/
CREATE TYPE [dbo].[xAttribute] AS TABLE(
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL
)
GO
