/****** Object:  UserDefinedTableType [dbo].[xAttributeV]    Script Date: 19.09.2018 15:16:40 ******/
CREATE TYPE [dbo].[xAttributeV] AS TABLE(
	[Code] [nvarchar](15) NOT NULL,
	[Name] [nvarchar](50) NULL
)
GO
